body {
    text-align: center;
    background: #ffc1cc;
    padding: 300px;
    color: rgb(102, 36, 156);
    font-size: 25px;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Libre Baskerville', serif; */
}

font-family: 'Inconsolata', monospace;